.homeLogo {
  color: white;
  white-space: pre-line;
  text-align: center;
  .title {
    font-size: 2rem;
  }
  .edition {
    margin-top: 1rem;
  }
  .info {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 768px) {
  .homeLogo {
    .title {
      font-size: 4rem;
    }
    .edition {
      margin-top: 2rem;
    }
    .info {
      font-size: 1.8rem;
      line-height: 1.25;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .homeLogo {
    .title {
      font-size: 5rem;
    }
  }
}
