.headerMenu {
  li {
    list-style-type: none;
    font-size: 1.2rem;
  }
  .headerItem {
    text-decoration: none;
    color: white;
    &:hover {
      color: black;
    }
  }
}

@media only screen and (min-width: 768px) {
  .headerMenu {
    li {
      list-style-type: none;
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .headerMenu {
    li {
      list-style-type: none;
      font-size: 2rem;
    }
  }
}
